/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {

    .top-header{
        background-color: #35BACD;
        height: 40px;
        color: white;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .nav-items{
        display: none;
    }
    .btn-bars{
        display: block;
        color: #35bacd;
    }
    .s2-text{
        padding-top: 20px;
    }
    .bg-3{
        height: auto !important;
    }
    .s3-txt-rw{
        transform: translate(0%,0%);
        color: white;
        font-size: 14px;
        padding: 20px;
    }



    /* book modal */

    .modal-content{
        padding: 2px!important;
    }


    /* package */

    .s1-text-abt{
        transform: translate(0%,0%);
        font-size: 10px;
    }
    .s1-text-abt p{ 
        font-size: 10px;
       
    }
    .btn-user{
     display: none;
    }
    .user-acc{
        display: none;
    }

    .tab-content{
        overflow-x: scroll;
    }
    .travel-item-p2{
        padding-left: 32px !important;

    }
    .travel-item-dot-1 {
        height: 14px;
        width: 14px;
        left: 13px;
        position: absolute;
        border-radius: 15px;
        background-color: #66C0FD;
    }
    .travel-item-dot-2 {
        height: 14px;
        width: 14px;
        left: 13px;
        position: absolute;
        border-radius: 15px;
        background-color: #21013E;
    }
    #borderLeft {
        border-left: 2px dotted black;
        position: absolute;
        top: 1%;
        bottom: 49%;
        left: 19px;
    }
 }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { }